gunicorn
python-dotenv
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
feedparser
httpx
beautifulsoup4
redis
celery
tenacity
python-multipart
lxml
wcwidth
psycopg2-binary
email-validator
